<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- spring 使用 mapperLocations 后无需配置此文件 -->
<configuration>
    <settings>
        <!-- changes from the defaults -->
        <setting name="lazyLoadingEnabled" value="false"/>
    </settings>

    <typeAliases>
        <!--这里给实体类取别名，方便在mapper配置文件中使用-->
        <package name="com.code.web.pojo"/>
        <!--<typeAlias alias="User" type="com.code.web.pojo.User"/>-->
    </typeAliases>

    <!--<mappers>-->
        <!--<mapper resource="com/code/web/dao/UserMapper.xml"/>-->
    <!--</mappers>-->
</configuration>
